<header class="jumbotron text-center">
<h1>Authentication</h1>

</header>

<nav class="row col-md-10 bg-primary mt-5 p-2 mx-auto">
 <a routerLink="bill" class="nav-link text-white">Bill</a>
 <a routerLink="area" class="nav-link text-white">Area</a>
 <a routerLink="volume" class="nav-link text-white">Volume</a>
 <a routerLink="tax" class="nav-link text-white">Tax</a>
 <a routerLink="calc" class="nav-link text-white">Interest</a>
 <a routerLink="conv" class="nav-link text-white">Conversion</a>
 <a routerLink="login" class="nav-link text-white">Login</a>


</nav>
<router-outlet></router-outlet>